/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        overflow-x: hidden;
    }

    body {
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
    }

    p {
        @apply text-dark text-sm sm:text-base
    }

    h1 {
        @apply text-4xl sm:text-5xl lg:text-6xl font-extrabold;
    }

    h2 {
        @apply text-3xl sm:text-4xl lg:text-5xl font-bold;
    }

    h3 {
        @apply text-2xl sm:text-3xl lg:text-4xl font-bold;
    }

    h4 {
        @apply text-xl sm:text-2xl lg:text-3xl font-bold;
    }

    h5 {
        @apply text-lg sm:text-xl lg:text-2xl font-bold;
    }

}

@layer utilities {
    .animation {
        @apply transition-all duration-300;
    }
}