/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Orbitron for Logo */
@font-face {
    font-family: 'Sora';
    src: url('../../assets/fonts/Sora-VariableFont_wght.ttf') format('truetype');
}

.font-sora {
    font-family: 'Sora', sans-serif;
}

/* ------------------------------ */

@layer base {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        overflow-x: hidden;
    }

    body {
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
    }

    .dark-1 {
        @apply text-[#81879D]
    }

    .heading-1 {
        @apply text-4xl sm:text-5xl lg:text-6xl font-sora font-extrabold;
    }

    .heading-2 {
        @apply text-3xl sm:text-4xl lg:text-5xl font-sora font-bold;
    }

    .heading-3 {
        @apply text-2xl sm:text-3xl lg:text-4xl font-sora font-bold;
    }

    .heading-4 {
        @apply text-xl sm:text-2xl lg:text-3xl font-sora font-bold;
    }

    .heading-5 {
        @apply text-lg sm:text-xl lg:text-2xl font-sora font-bold;
    }

    .sub-heading-1 {
        @apply text-medium sm:text-lg font-sora font-semibold
    }

    .sub-heading-2 {
        @apply text-sm sm:text-base font-sora font-medium
    }

    .sub-heading-3 {
        @apply text-sm sm:text-base font-sora font-medium
    }

    .para-1 {
        @apply text-lg sm:text-xl font-normal;
    }

    .para-2 {
        @apply text-medium sm:text-lg font-normal;
    }

    .para-3 {
        @apply text-sm sm:text-base font-normal;
    }

    .body-1 {
        @apply text-base sm:text-lg font-normal;
    }

    .body-2 {
        @apply text-medium sm:text-base font-normal;
    }

    .body-3 {
        @apply text-xs sm:text-sm font-normal;
    }

    .body-4 {
        @apply text-[10px] sm:text-xs font-normal;
    }
}

@layer utilities {
    .animation {
        @apply transition-all duration-300;
    }
}